body{
    
    box-sizing: border-box;
}
#mean{
    text-align: center;
}
#mean h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: rgb(61, 150, 120);
    margin-top: 40px;

}
.nav ul li{
    display: inline-block;
    padding: 20px;
    font-family:serif;
    font-weight: 550;
    font-size: 15px;


}
.nav ul{
    margin-top: 40px;
}
li:hover{
    color: rgb(61, 150, 120);
}
.self{
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    padding-top: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.self p{
    font-weight: 500;
    font-family: sans-serif;
    word-spacing: 5px;
}
.self button{
    font-family: serif;
    border-radius: 5px;
}
.self button:hover{
    text-decoration: underline;
}
.parent{
    margin: 0;
    display: grid;
    grid-template-columns:40% 60% ;
    margin: 0 100px;
    /* background: paleturquoise; */
     box-sizing: border-box;
    
    
    
}
.mean-child{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(61, 150, 120);
    text-align: left;
    height: 80px;
    border-left: 2px solid rgb(61, 150, 120);
    padding-left: 10px;
    margin-top: 30px;
    
}
.mean-child img{
    width: 350px;
    height: 250px;
    
}
.mean-child h5{
    color: black;
    
   
    
}.child{
    width: 50%;
    height: 250px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;  
    padding-top: 100px;
    border-bottom: 2px double rgb(143, 120, 120) ;
    
}
.first{
   font-size: 15px;
   color: rgb(61, 150, 120);
}


